# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.eslintcache
src/assets/images/pho.jpg
src/assets/images/image1.jpg
src/assets/images/image3.jpg
src/assets/songs/FavouriteDaughter.jpeg
src/assets/songs/FavouriteDaughter.mp3
src/assets/songs/VuTruCoBay.jpg
src/assets/songs/VuTruCoBay.mp3
src/pages/AvatarCustomizerPage_draft.jsx
